/* palette */
:root {
	--color-light: #ffffff;
	--color-dark: #000000;
	--color-action: #4ccd00;
	--color-end-action: #d61908;
	--color-bg-big: #4a4a4a;
}
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* general */
body {
    font-family: 'Noto Sans', sans-serif;
    color: var(--color-light);
    font-size: 13px;
}

.action
{
    color: var(--color-action);
}

/* utilities */
/* .debug {
    border: 1px solid orange;
} */

/* flex utilities */
.d-flex {
    display: flex;
    flex-flow: row wrap;

}

.colum
{
    display: flex;
    flex-flow: column wrap;
}

.j-between
{
    justify-content: space-between;
}

.center
{
    align-items: center;
    align-content: center;
    justify-content: center;
}

.t-center
{
    text-align: center;
}

/* html */

/* header */
header
{
    height: 60px;
    position: relative;
    background-color: var(--color-dark);
}


/* main */
.container {
    width: 100%;
    padding: 0px 60px 40px;
    background-color: var(--color-dark);
    height: calc(100vh - 60px - 90px);
    overflow-y: auto; 

}

.view
{
    position: absolute;
    top: 0;
    right: 0;
}

.view div {
    background-color: rgba(255, 255, 255, 0.25);
    display: inline-block;
    padding: 4px;
  
}

.view div:last-child
{
    margin-left: 5px;
}

.card
{
    width: calc(100% / 7);
    padding: 5px;

}

.user-img img
{
    width: 100%;
    display: block;
}

.user-img
{
    position: relative;
}
.user-name
{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color:  rgba(255, 255, 255, 0.15)
}

/* playbar */
footer {
    background-color: var(--color-bg-big);
    height: 90px;

}

.singular
{
    padding: 17px;
}

footer i 
{
    font-size: 2.5em;
    padding: 0 0 5px;
}

.chevron
{
    font-size: 0.5em;
}

#close-call
{
    background-color: rgba(255, 255, 255, 0.25);
    color: var(--color-end-action);
    
}
